<div class="modal-header bg-warning">
  <h4 class="modal-title">Sửa người dùng</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="userFormGroup" novalidate (ngSubmit)="submit()">
  <div class="modal-body">
    <div class="form-group text-center">
      <div class="text-center mb-2">
        <img src="{{avartar}}" style="width: 160px; height: 160px" class="user-image img-circle elevation-2" id="viewAvatarEU"
             alt="User Image">
      </div>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputImgAvatar" (change)="submitFile($event)">
          <label class="custom-file-label" for="inputImgAvatar">Choose file</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="usernameEditModal">Tên tài khoản</label>
      <input type="text" id="usernameEditModal" class="form-control" formControlName="username" readonly>
    </div>
    <div class="form-group">
      <label for="fullNameEditModal">Họ tên</label>
      <input type="text" id="fullNameEditModal" class="form-control" formControlName="fullname">
    </div>
    <div class="form-group">
      <label for="birthDateEditModal">Ngày sinh</label>
      <input id="birthDateEditModal" type="date" class="form-control" data-inputmask-alias="datetime"
             data-inputmask-inputformat="dd/mm/yyyy" data-mask formControlName="birthDate">
    </div>
    <div class="form-group">
      <ng-container *ngIf="user.gender != null">
        <label >Giới tính</label>
        <div class="form-inline" >
          <div class="form-check mx-2">
            <input class="form-check-input" type="radio" [checked]="user.gender == 'Nam'" id="maleGenderAddModal" name="genderAddModal" value="Nam" (change)="onChangeGender($event)">
            <label for="maleGenderAddModal" class="form-check-label">Nam</label>
          </div>
          <div class="form-check mx-2">
            <input class="form-check-input" type="radio"  [checked]="user.gender == 'Nữ'" id="femaleGenderAddModal" name="genderAddModal" value="Nữ" (change)="onChangeGender($event)">
            <label for="femaleGenderAddModal" class="form-check-label">Nữ</label>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="user.gender == null">
        <label for="genderAddModal">Giới tính</label>
        <div class="form-inline" id="genderAddModal">
          <div class="form-check mx-2">
            <input class="form-check-input" type="radio"  name="genderAddModal" value="Nam" (change)="onChangeGender($event)">
            <label for="maleGenderAddModal" class="form-check-label">Nam</label>
          </div>
          <div class="form-check mx-2">
            <input class="form-check-input" type="radio"  name="genderAddModal" value="Nữ" (change)="onChangeGender($event)">
            <label for="femaleGenderAddModal" class="form-check-label">Nữ</label>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="form-group">
      <label for="emailEditModal">Email</label>
      <input type="email" id="emailEditModal" class="form-control" formControlName="emailAddress">
    </div>
    <div class="form-group">
      <label for="phoneEditModal">Số điện thoại</label>
      <input type="text" id="phoneEditModal" class="form-control" data-inputmask='"mask": "9999999999"'
             data-mask formControlName="phoneNumber">
    </div>
    <div class="form-group">
      <label for="roleEditModal">Vai trò </label>
      <input class="form-control role-name-select2" id="roleEditModal" style="width: 100%;" readonly
             formControlName="roleName">
    </div>
    <ng-container *ngIf="user.roleId == LECTURE">
      <div class="form-group" id="lecturerDepartmentEditModal">
        <label>Bộ môn</label><br>
        <ng-select2 [data]="select2Data"
                    [options]="options" formControlName="address">
        </ng-select2>
      </div>
    </ng-container>
    <ng-container *ngIf="user.roleId == STUDENT">
      <div class="form-group" id="studentClassEditModal">
        <label for="classEditModal">Lớp</label>
        <input type="text" id="classEditModal" class="form-control" style="width: 100%;" formControlName="address">
      </div>
    </ng-container>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
    <button type="submit" class="btn btn-primary" [disabled]="userFormGroup.status == 'INVALID'">Thêm</button>
  </div>
</form>
