<div class="modal-header bg-danger">
  <h4 class="modal-title">Xoá lớp học phần</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="text-align: center">
  Xoá lớp học phần <label id="subjectNameDeleteModal">{{courses.subjectName}}</label>?
</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">Huỷ</button>
  <button type="button" class="btn btn-primary" (click)="delete()">Xoá</button>
</div>

