<div class="modal-header bg-danger">
  <h4 class="modal-title">Xoá bộ môn</h4>
</div>
<div class="modal-body" style="text-align: center">
  Xoá bộ môn <label id="departmentNameDeleteModal">{{department.departmentName}}</label>?
</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">Đóng</button>
  <button type="button" class="btn btn-primary" (click)="delete($event)" id="{{department.id}}">Xoá</button>
</div>
