<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="/management/home" class="nav-link">Home</a>
    </li>
  </ul>

  <!-- SEARCH FORM -->
  <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- User Dropdown Menu -->
    <li class="nav-item dropdown user-menu">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
        <table>
          <tr>
            <th>
              <img src="assets/admin-dashboard/dist/img/user1-128x128.jpg" class="user-image img-circle elevation-2"
                   alt="User Image">
            </th>
            <th>
              <span class="d-none d-md-inline" >{{user.fullName}}</span>
            </th>
          </tr>
        </table>
      </a>
      <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <!-- User image -->
        <li class="user-header bg-primary">
          <img src="assets/admin-dashboard/dist/img/user1-128x128.jpg" class="img-circle elevation-2"
               alt="User Image">
          <p>
            <span id="username">{{user.fullName}}</span>
            <small id="role">{{user.roleName}}</small>
          </p>
        </li>
        <li class="user-footer">
          <button class="btn-flat" mdbBtn color="light" mdbWavesEffect data-toggle="modal"
                  data-target="#modal-password">Đổi mật khẩu
          </button>
          <button class="btn-flat float-right" mdbBtn color="light" mdbWavesEffect (click)="click()">Đăng xuất</button>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<!-- /.navbar -->

<!-- Modal đổi mật khẩu -->
<div class="modal fade" id="modal-password">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Đổi mật khẩu</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="currentPassword">Mật khẩu hiện tại</label>
          <input type="password" id="currentPassword" class="form-control">
        </div>
        <div class="form-group">
          <label for="newPassword">Mật khẩu mới</label>
          <input type="password" id="newPassword" class="form-control">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Xác nhận mật khẩu</label>
          <input type="password" id="confirmPassword" class="form-control">
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Lưu</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
