<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Quản Lý Người Dùng</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/management/home">Home</a></li>
            <li class="breadcrumb-item active">Quản Lý Người Dùng</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- JUST EDIT HERE! -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-6 col-md-10 my-2">
                      <ng-container *ngIf="user.roleId == admin">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add" name="2" (click)="openModalAdd($event)">Thêm
                          giảng viên
                        </button>
                      </ng-container>
                      <button style="margin-left: 2%" type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add" name="3" (click)="openModalAdd($event)">Thêm
                        sinh viên
                      </button>
                </div>
                <div class="col-sm-6 col-md-2 my-2">
                  <ng-select2 [data]="dataSelect2" [options]="option" (valueChanged)="onChangeSelect2($event)">
                  </ng-select2>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table datatable id="userDatatable" class="table table-bordered table-striped"
                     [dtOptions]="dataTableOptions"
                     [dtTrigger]="dtTrigger">
                <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên đăng nhập</th>
                  <th>Họ tên</th>
                  <th>Email</th>
                  <th>Vai trò</th>
                  <th>Ngày tham gia</th>
                  <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of dataForTable">
                  <td class="count"></td>
                  <td>{{user.username}}</td>
                  <td>{{user.fullName}}</td>
                  <td>{{user.emailAddress}}</td>
                  <td>{{user.roleName}}</td>
                  <td>{{user.createdDate}}</td>
                  <!--                  <td>-->
                  <!--                    <ng-container *ngIf="user.status ==1 ;then thenBlock else elseBlock"></ng-container>-->
                  <!--                    <ng-template #thenBlock>-->
                  <!--                      <ui-switch uncheckedLabel="OFF" checked (valueChange)="onChangeState($event)" className="user.id"-->
                  <!--                                 checkedLabel="ON"></ui-switch>-->
                  <!--                    </ng-template>-->
                  <!--                    <ng-template #elseBlock>-->
                  <!--                      <ui-switch uncheckedLabel="OFF" [checked]="false"-->
                  <!--                                 checkedLabel="ON"></ui-switch>-->
                  <!--                    </ng-template>-->
                  <!--                  </td>-->
                  <td>
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                            data-target="#modal-info" id="{{user.id}}" (click)="openModalDetail($event)" name="{{user.roleId}}">
                      <i class="fas fa-eye"></i> Chi tiết
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" name="{{user.id}}" data-toggle="modal" (click)="openModalEdit($event)">
                      <i class="fas fa-pencil-alt"></i> Sửa
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" name="{{user.id}}" data-toggle="modal" (click)="openMoadlDelete($event)"
                            data-target="#modal-delete">
                      <i class="fas fa-trash"></i> Xoá
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->

    <!-- Modal thêm người dùng -->

    <!-- /.modal -->

    <!-- Modal chi tiết người dùng -->

    <!-- /.modal -->

    <!-- Modal sửa người dùng -->

    <!-- /.modal -->

    <!-- Modal xoá người dùng -->

    <!-- /.modal -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
