<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="home.html" class="brand-link">
    <img src="assets/admin-dashboard/dist/img/FITALogo.png" alt="Faculty Logo"
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">FITA - VNUA</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <a href="#">
          <img src="assets/admin-dashboard/dist/img/user1-128x128.jpg" data-toggle="modal"
               data-target="#modal-profile" class="img-circle elevation-2" alt="User Image">
        </a>
      </div>
      <div class="info">
        <a href="" id="usernameSidebar" data-toggle="modal" data-target="#modal-profile" class="d-block">Thông tin cá nhân</a>
      </div>
    </div>
      <ng-container *ngIf="user.roleId == admin">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <!-- Phân quyền -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link" onclick="return false;">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Phân Quyền
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/management/decentralization" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Danh Sách Nhóm Quyền</p>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Danh mục quản lý -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link" onclick="return false;">
                <i class="nav-icon fas fa-university"></i>
                <p>
                  Danh Mục Quản Lý
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/management/department" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Bộ Môn</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/management/user" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Người Dùng</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/management/subjects" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Môn Học</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/management/years-semesters" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Năm Học - Học Kỳ</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/management/courses" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Lớp Học Phần</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/management/category" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Thể Loại</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/management/project" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Đồ Án</p>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Kiểm duyệt -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link" onclick="return false;">
                <i class="nav-icon fas fa-tasks"></i>
                <p>
                  Kiểm Duyệt
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/management/revise" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Kiểm Duyệt Đồ Án</p>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Thống kê báo cáo -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link" onclick="return false;">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                  Thống Kê Báo Cáo
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/management/statistical" class="nav-link">
                    <!--              <a href="../pages/thongkedoan.html" class="nav-link">-->
                    <i class="far fa-circle nav-icon"></i>
                    <p>Thống Kê Đồ Án</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </ng-container>
      <ng-container *ngIf="user.roleId == lecture">
        <!-- Danh mục quản lý -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <!-- Phân quyền -->
            <!-- Danh mục quản lý -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link" onclick="return false;">
                <i class="nav-icon fas fa-university"></i>
                <p>
                  Danh Mục Quản Lý
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/management/user" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Người Dùng</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/management/courses" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Lớp Học Phần</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/management/project" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Đồ Án</p>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Kiểm duyệt -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link" onclick="return false;">
                <i class="nav-icon fas fa-tasks"></i>
                <p>
                  Kiểm Duyệt
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/management/revise" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Kiểm Duyệt Đồ Án</p>
                  </a>
                </li>
              </ul>
            </li>
            <!-- Thống kê báo cáo -->
          </ul>
        </nav>
      </ng-container>
  </div>
  <!-- /.sidebar -->
</aside>

<!-- Modal thông tin cá nhân -->
<app-personal-information></app-personal-information>
<!-- /.modal -->


